{% extends 'base.html' %}


{% block banner %}
<div id="wrapper">
    <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="{{ STATIC_URL }}images/banner1.jpg"  alt="" />
                <img src="{{ STATIC_URL }}images/banner2.jpg"  alt="" />
                <img src="{{ STATIC_URL }}images/banner3.jpg"  alt="" />
            </div>
        </div>
 </div>
{% endblock %}


{% block transparent %}
<div class="image_carousel">
             
                            <div id="foo1">
                                <img src="{{ STATIC_URL }}images/pic.jpg" alt="basketball" width="135" height="120" />
                                <img src="{{ STATIC_URL }}images/pic1.jpg" alt="beachtree"  width="135" height="120" />
                                <img src="{{ STATIC_URL }}images/pic2.jpg" alt="cupcackes" width="135" height="120" />
                                <img src="{{ STATIC_URL }}images/pic3.jpg" alt="hangmat"  width="135" height="120" />
                                <img src="{{ STATIC_URL }}images/pic4.jpg" alt="new york"  width="130" height="120" />
                                <img src="{{ STATIC_URL }}images/pic5.jpg" alt="laundry"  width="130" height="120" />
                                <img src="{{ STATIC_URL }}images/pic6.jpg" alt="mom son"  width="130" height="120" />
                                <img src="{{ STATIC_URL }}images/pic7.jpg" alt="picknick"  width="130" height="120" />
                                <img src="{{ STATIC_URL }}images/pic8.jpg" alt="shoes"  width="130" height="120" />
                                <img src="{{ STATIC_URL }}images/pic9.jpg" alt="paris"  width="130" height="120" />
                                <img src="{{ STATIC_URL }}images/pic10.jpg" alt="sunbading"   width="130" height="120"/>
                            </div>
                    </div>
{% endblock %}